/* STYLING FOR LARGER DESKTOP SCREENS ******************************************/
/* @media only screen and (max-width: 8000px) { */

    /* YOU'RE MISSING THE END BRACKET ONCE YOU UNCOMMENT THIS MEDIA QUERY */
    * {
        font-family: 'Montserrat', sans-serif;
        font-family: 'arial', sans-serif;
        background-color: #fffefd;
        color: rgb(51, 49, 49);

        scroll-behavior: smooth;
    }
    html {
        width: 100vw;
        height: 100vh;
    }

    body {
        padding-top: .1px;
        width: 100vw;
        height: 100vh;
    }  

    header {
        display: block;
        position: fixed;
        height: 8vh;
        width: 100%;
        /* padding: 0% 0% 0% 0%; */
        z-index: 999;
    }

    .menu-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100%;
        width: 100%;
        padding: 5px 5px 5px 5px;
    }

    .header_name, .item1 {
        font-size: 3vw;
        height: 2vh;
        text-align: left;
        margin-left: 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }


    .fixedLinks, .item2 {
        display: inline;
        font-size: 1.5vw;
        height: 10%;
        width: 100%;
        text-align: right;
        margin: 0%;
    }

    .nav_link {
        margin: 0% 2% 0% 2%;
        color: rgb(4, 52, 156);
    }
    .container {
        width: 100%;
    }

    .page_intro, .item3{
        padding-top: 100px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        /* height: 50px; */
    }

    .page_content, .item4{
        height: 100vh;
        width: 100%;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /* #git, #edu, #aboutme,#resume, #languages, #safe_beacon, #stack,  #baya, #onev, #pacman{
        font-size: 2em;
        font-weight: bold;
        color: rgb(21, 55, 247);
        text-align: center;
        height: 50%;
    } */


    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }
    
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        text-align: left;
        outline: none;
        font-size: 1vw;
    }

    .active, .collapsible:hover {
          background-color: #555;
    }

    .table-content {
        display: none;
        background-color: white;
        /* height: 100%; */
        width: 100%;
        margin-bottom: 10px;
    }

    table {
        border: 1px solid gray;
        width: 100%;
        color: black;
        table-layout: auto;
    }

    th,td,tr {
        padding: 5px;
        text-align: left;
        vertical-align: top;
        border-bottom:1px solid rgba(214, 197, 197, 0.466);
        color: black;
        padding: 1%;
    }


    tr:hover {
        background-color: rgba(255, 255, 224, 0.034);
    }

    img {
        height: 100%;
        width: 100%;
        margin-bottom: 2%;
    }
 
    #rating{
        display: grid;
        grid-row: 1;
        grid-column: 2;
        grid-template-columns: auto;
        grid-template-rows: 1em 1em;
        grid-auto-flow: column;
        justify-self: right;
        justify-items: center;
        width: 20%;
        padding: 0;
        grid-gap: 5px;
        
    }

    #ratingtext{
        grid-row: 1;
        /* grid-auto-flow: column; */
        grid-column: 1/3;
        /* text-align: center; */
    }



    ul, ol,li {
        list-style-type: none;
        color: black;
        /* display: block; */
    }

    hr {
        background: white;
    }

    .projects-card{
        background-color: #0b132b;
        padding: 1%;
        width: 40%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        box-shadow: 5px 5px 20px rgb(1, 6, 15);
        margin: 1%;
        border: 1px solid black;
        min-height: 550px;
    }

    .projects-card:hover{
        background-color: #192a5f;
        position: relative;
        width: 40%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        border: none;
        box-shadow: 5px 5px 20px rgb(6, 35, 88);
        margin: 1%;
    
    }

    .sectionHeader{
        font-size: 5em;
    }
    
    .boxes {
        margin: 0% 0% 0% 0%;
        /* border: 1px solid red; */
        display: inline-block;
    }

    .iframeContainer{
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-top: 56.25%;

    }

    .iframeContainer iframe{
        overflow-y: hidden;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }




