
  <!-- Header -->
  <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Water</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5"> Water is a precious commodity that impacts all aspects of life</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>
  
    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Why is water so important? </h2>
            <p class="text-white-50">Water is used for substainability and to grow fresh produce and sustain livestock. The use of agricultural water makes it possible to grow fruits and vegetables and raise livestock, which is a main part of our diet. When agricultural water is used effectively and safely, production and crop yield are positively affected. A decrease in applied water can cause production and yield to decrease. Management strategies are the most important way to improve agricultural water use and maintain optimal production and yield. The key is to implement strategies to improve water use efficiency without decreasing yield.</p>
          </div>
        </div>
        <a href="#projects">Click here to learn more</a>
        <!-- <img src="./assets/img/ocean.jpg" class="img-fluid" alt=""> -->

      </div>
    </section>
  
    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">
  
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="./assets/img/soil1.jpeg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Agriculture</h4>
              <h6>Why should you be concerned about the agricultural water quality in your area?</h6>
              <p class="text-black-50 mb-0" style="font-size: 11pt;">
                  Water quality can be affected by poor planning of industrial sites, animal farms, and barnyards and feedlots.The type of water source has been indicative of the potential risks of contamination. Poor water quality can affect the quality of food crops and lead to illness in those who consume them. The water may contain germs that cause human disease. Irrigating crops with contaminated water can then lead to contaminated food products which lead to illness when eaten. Groundwater has been considered one of the safest sources of water. However, depending on field location and field size, it may not be possible to use water from these sources for irrigation.</p>
                  <a href="" style="font-size:8pt;">Find out here to see if the water quality in your area is infected</a>

                  <!-- <p>Where does agricultural water come from? Agricultural water comes from a variety of sources. Typical sources of agricultural water include: Surface water, Rivers, streams, and irrigation ditches, Open canals, Impounded water such as ponds, reservoirs, and lakes, Groundwater from wells, Rainwater, Locally collected water such as cisterns and rain barrels
                     Municipal water systems such as city and rural water can also be used for agricultural purposes.</p> -->
            </div>
          </div>
        </div>
  
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <!-- <img class="img-fluid" src="./assets/img/demo-image-01.jpg" alt=""> -->
            <img class="img-fluid" src="./assets/img/soil4.jpeg" alt="" style="width:590px;">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Soil</h4>
                  <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                  <a href="">Click here for Soil Data in your area</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="./assets/img/water2.jpeg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Water</h4>
                  <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                  <a href=""> Click here for Water Data in your area</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section>
  
    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
  
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
  
            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>
  
          </div>
        </div>
      </div>
    </section>
  
    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">
  
        <div class="row">
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">hello@yourdomain.com</a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+1 (555) 902-8832</div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>
  
      </div>
    </section>
  

  

<router-outlet></router-outlet>
